header {
  background: linear-gradient(to top, skyblue, white);
  height: 5rem;
  width: 100vw;
}

footer {
  height: 5rem;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100vw;
}

main {
  background-color: skyblue;
}

page {
  height: 100%;
  width: 100%;
}
